@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: #00783A;
}
.container{
    display: flex;
    width: 80vw;

}
.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: red;
    cursor: pointer;
    flex: 0.5;
    position: relative;
    margin: 5px;
    transition: flex 0.5s ease-in;
}
.panel.active{
    flex:5;
    border-radius: 100px;
}

@media(max-width: 480px){
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}














